# Ignore dependencies and cache
node_modules/
.cache/
frontend/node_modules/
frontend/.cache/
backend/node_modules/
backend/.cache/

# Misc
.env
.DS_Store
Thumbs.db

# Secrets
backend/google/analytics-key.json
backend/.env
.env

backend/google/analytics-key.json
